
section{
    margin: 114px auto 0 auto;
    display: flex;
    width: 80vh;
    max-width: 1080px;
    height: 70vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    border-radius: 50px;
}

.footer-stick{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media(max-width: 768px){
    section{
        width: 100%;
        height: 55vh;
    }
}